
.App {
  text-align: center;
  margin: 10px;
}

.ValidationComponent {
  width: 50%;
  background: white;
  padding: 16px;
  margin: 10px auto;
  font: inherit;
  text-align: center;
  font-size: larger;
}

